In [ ]:
!pip install pyreadstat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyreadstat
  Downloading pyreadstat-1.2.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 18.7 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from pyreadstat) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pyreadstat) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pyreadstat) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.1

In [1]:
import pandas as pd
from google.colab import drive

In [2]:
drive.mount('/content/MyDrive')

Mounted at /content/MyDrive

In [4]:
df = pd.read_excel('/content/MyDrive/MyDrive/MUCSI/TFM/datos/TCA.xlsx')

AttributeError: ignored

In [9]:
df.describe()

,NINGUNOTRODIAG,ANSIEDAD,DEPRESIÓN,TPERSO,TBIPOLAR,TPSICOTICO,OtrosdiagnósticosademásdelTCA_B
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000
mean,0.600343,0.250429,0.204117,0.039451,0.003431,0.003431,0.054889
std,0.490248,0.433632,0.403401,0.194833,0.058520,0.058520,0.227958
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df_G = df[['AÑOSPADECIENDO', 'AÑOSTTO', 'ADMINISTRACION', 'EDADCOMIENZO', 'ESTADO', 'SEXO', 'IMPRESION_PSQ1', 'IMPRESION_PSQ2']]

In [ ]:
df = df.drop(['AÑOSPADECIENDO', 'AÑOSTTO', 'ADMINISTRACION', 'EDADCOMIENZO', 'ESTADO', 'SEXO', 'IMPRESION_PSQ1', 'IMPRESION_PSQ2'], axis=1)

In [ ]:
df_T1 = df.loc[:, ~df.columns.str.endswith(('_T2', '_T3'))]
df_T2 = df.filter(regex='_T2$')
df_T3 = df.filter(regex='_T3$')

In [ ]:
df_G.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AÑOSPADECIENDO  583 non-null    object
 1   AÑOSTTO         583 non-null    object
 2   ADMINISTRACION  583 non-null    object
 3   EDADCOMIENZO    583 non-null    object
 4   ESTADO          583 non-null    object
 5   SEXO            583 non-null    object
 6   IMPRESION_PSQ1  583 non-null    object
 7   IMPRESION_PSQ2  583 non-null    object
dtypes: object(8)
memory usage: 36.6+ KB

In [ ]:
df_T1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Columns: 173 entries, FECHA to RESI_ULTIM25
dtypes: int64(7), object(166)
memory usage: 788.1+ KB

In [ ]:
df_T2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Columns: 173 entries, FECHA_T2 to RESI_ULTIM25_T2
dtypes: object(173)
memory usage: 788.1+ KB

In [ ]:
df_T3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Columns: 173 entries, FECHA_T3 to RESI_ULTIM25_T3
dtypes: object(173)
memory usage: 788.1+ KB

In [ ]:
df_G.to_csv('/content/MyDrive/MyDrive/MUCSI/TFM/datos/TCA_general.csv', index=True, index_label='ID')
df_T1.to_csv('/content/MyDrive/MyDrive/MUCSI/TFM/datos/TCA_T1.csv', index=True, index_label='ID')
df_T2.to_csv('/content/MyDrive/MyDrive/MUCSI/TFM/datos/TCA_T2.csv', index=True, index_label='ID')
df_T3.to_csv('/content/MyDrive/MyDrive/MUCSI/TFM/datos/TCA_T3.csv', index=True, index_label='ID')

In [ ]:
df.to_excel('/content/MyDrive/MyDrive/MUCSI/TFM/TCA.xlsx', index=False)